@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  background-color: #090A0E;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.header-top {
  background-image: url(/home/header-top-bg.png);
}
.main-hero {
  background-image: url(/home/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.hero-back {
  width: 100%;
  height: 200%;
  background-image: url(/home/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.hero-front {
  background-image: url(/mainhero_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 100%;
}
.presales-hero {
  background-image: url(/presales_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.contact-bg {
  background-image: url(/contact_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}
.contact-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* border qalinligi */
  border-radius: 40px;

  background: linear-gradient(
    180deg,
    #293349 0%,
    #0E0F15 100%
  );

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.hero-bg {
  background-image: url(/mainhero_bg.png);
  background-repeat: no-repeat;
  background-position: center 220px;
  background-size: contain;
  width: 100%;
}
.text-gradient {
  background-image: linear-gradient(to bottom, #f5f9ff00, #167bff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: #090a0e;
}
.button-gradient {
  background-image: linear-gradient(to bottom, #f5f9ff00, #167bff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: #090a0e;
}
.user-button {
  box-shadow: 0px 0px 10px 0px #fff3ff1a inset;
}
.btn-gradient {
  display: inline-block;
  background: linear-gradient(180deg, #0a1a33 0%, #1b4a8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-radial {
  display: inline-block;
  /* background: linear-gradient(180deg, #CBE1FF 0%, #7DB5FF 100%); */
  background: radial-gradient(
    123.93% 100% at 50.15% 0%,
    #f5f9ff 0%,
    #7db5ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-card {
  position: relative;
  background: #0d0e14b2;
  backdrop-filter: blur(255px);
  -webkit-backdrop-filter: blur(255px);
  border-radius: 40px;
  overflow: hidden;
}
.dark-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* border qalinligi */
  border-radius: 40px;

  background: linear-gradient(
    180deg,
    #293349 0%,
    #0E0F15 100%
  );

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.btn-card {
  position: relative;
  background: #0d0e14b2;
  backdrop-filter: blur(255px);
  -webkit-backdrop-filter: blur(255px);
  border-radius: 20px;
  overflow: hidden;
}
.btn-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* border qalinligi */
  border-radius: 20px;

  background: linear-gradient(
    180deg,
    #293349 0%,
    #0E0F15 100%
  );

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.light-card {
  position: relative;
  background: #F5F9FF;
  backdrop-filter: blur(255px);
  -webkit-backdrop-filter: blur(255px);
  border-radius: 48px;
  overflow: hidden;
}

.light-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* border qalinligi */
  border-radius: 48px;

  background: linear-gradient(
    180deg,
    #FCFEFF 0%,
    #9EC7FF 100%
  );

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.shadow-hero-box {
  box-shadow: 0px 0px 400px 100px #1C66C2;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  bottom: -150px;
  width: 100%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.ant-select-item-option-selected {
  background-color: #F5F9FF !important;
  color: #969696 !important;
}
.ant-select-item  {
  background-color: #090A0E ;
  color: #c4c4c4 !important;
  border-radius: 16px !important;
} 
.ant-select-dropdown  {
  padding: 0 !important;
  border: 2px solid #0E0F15;
  background-color: #090A0E !important;
}
.home-select .ant-select  {
  border: none !important;
  background:  transparent !important;
  color: #fff !important;
}
.home-select  .ant-select-content-value  {
  color: #fff !important;
}

/* swipper */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
